<div class="parant"></div>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="login" (ngSubmit)="onSubmit()">
				<div class="login__field">
					<input type="text" id="userName" class="login__input" formControlName="userName">
				</div>
				<div class="login__field">
					<input type="password" id="password" class="login__input" formControlName="password">
				</div>
				<button class="button login__submit" [disabled]="login.invalid">
					<span class="button__text">Log In Now</span>
				</button>				
			</form>
			<div class="social-login">
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
			
	</div>
</div>